<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wijzig mijn profiel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/verhalen">Verhalen</a></li>
        <li><a href="/profiel">Profiel</a></li>
        <li><a href="/log-out">Uitloggen</a></li>
      </ul>
    </nav>
  </header>
    <section>
        <article>
            <h1>
              Mijn profiel
            </h1>
            <form action='/edit' method=post>
              <fieldset>
                <legend>
                  Gegevens
                </legend>
                  <label>Naam:<input name=name type=text value="<%= data.name %>"></label>
                  <label>Geboortedatum:<input name=birthdate type=text value="<%= data.birthdate %>"></label>
                  <label>Woonplaats:<input name=residency type=text value="<%= data.residency %>"></label>
                  <label>Geslacht:<input name=sex type=text value="<%= data.sex %>"></label>
                  <label>E-mailadres:<input name=email type=text value="<%= data.email %>"></label>
              </fieldset>
              <button>Opslaan</button>
            </form>

            <form action='/remove' method=post>
              <button>Verwijderen</button>
            </form>
        </article>
    </section>
</body>
</html>
